<div class="message-container">
  <div class="message-list-container">
    <ul class="message-list">
      <li class="message alert">Please Select or Create a room to chat in</li>
    </ul>
  </div>
  <form id="message-form">
    <input id="message-input" placeholder="your message" type="text" />
  </form>
</div>
