<div id="message-groups">
  <h2>Rooms</h2>
  <div id='rooms-list'></div>
  <form id="create-room-form" action="">
    <label for="new-room-name">Create Room</label>
    <div class="input-group">
      <input id="new-room-name" type="text" placeholder="room name" />
      <button type='submit'>Create Room</button>
    </div>
  </form>
</div>