{% extends "base.njk" %} {% block content %}

<div class="room-container">
      <div id="message-groups">
        <h2>Rooms</h2>
        {% include './partials/create-room.njk' %}
        <div id='rooms-list'>
          {% for room in rooms %}
          <a href="">
            <div>
              <h3>{{ room }}</h3>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
  </div>

{% endblock %}