<nav class="mobile-nav">
    <ul>
        <li>
            <a href="/">
                <i class="fas fa-home"></i> <!-- Font Awesome icon for Home -->
                Home
            </a>
        </li>
        <li>
            <a href="/chat">
                <i class="fas fa-comments"></i> <!-- Font Awesome icon for Chat -->
                Chat
            </a>
        </li>
        <li>
            <a href="/profile">
                <i class="fas fa-user"></i> <!-- Font Awesome icon for Profile -->
                Profile
            </a>
        </li>
    </ul>
</nav>